.hero {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 6fr 4fr;
  position: relative;
  overflow: hidden;

  &__left {
    min-height: 120vh;
    background-image: url("../../images/Hero-photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  &__info {
    position: relative;
    z-index: 3;
    margin-bottom: 2px;
  }

  &__text {
    font-family: $primary-font;
    font-weight: $bold;
    font-size: 36px;
    color: #fff;
    margin-bottom: 32px;
  }

  &__desc {
    font-family: $primary-font;
    font-weight: $medium;
    font-size: 24px;
    color: #fff;
    margin-bottom: 32px;
  }

  &__buttons-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
  }

  &__btn {
    border: 3px solid #4da8da;
    font-family: $primary-font;
    font-weight: $medium;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 36px;
    padding: 8px 0;
    transition: background-color 0.5s ease;
    width: 192px;
  }

  &__btn:hover {
    background-color: #4da8da;
  }

  &__btn--active {
    background-color: #4da8da;
  }

  &__right {
    background-color: #12232e;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    width: 55vw;
    min-width: 500px;
    position: absolute;
    right: 0;
  }

  &__photo-right {
    width: 70%;
  }
}

.break {
  display: block;
}

@media (min-width: 1600px) {
  .hero {
    &__text {
      font-size: 42px;
    }

    &__desc {
      font-size: 32px;
    }
  }
}

@media (max-width: 1025px) {
  .hero {
    &__info {
      width: 100vw;
      text-align: center;
    }

    &__right {
      min-width: 50vw;
    }

    &__text {
      font-size: 28px;
    }

    &__desc {
      font-size: 18px;
    }
    &__photo-right {
      display: none;
    }

    &__buttons-wrapper {
      grid-template-columns: 1fr;
      grid-gap: 28px;
      justify-items: center;
    }
  }
}
